header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: teal;
}

main {
    min-height: 75vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}